<div class="container-fluid">
    <div class="row">

        <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: feeds">
            <li data-bind="css:{ active: $parent.isFeedActive.call($parent, $data) }">
            <a href="#" data-bind="click:function(){ $parent.setFeed.call($parent, $data); }">
              <span class="badge pull-right" data-bind="text:Math.floor((Math.random() * 99) + 1)"></span>
              <span data-bind="text:$data.Name">link</span>
            </a>
          </li>
        </ul>
        </div>

        <div class="col-md-8">
            <!-- <div data-bind="text:ko.toJSON(activeFeed())">current feed</div> -->
            <!-- <div data-bind="text:(activeFeed() && activeFeed().Name) || '&nbsp;'"></div>-->

            <div data-bind="text:(activeItem() && activeItem().Name) || ''"></div>

            <div class="panel-group" id="accordion">
              <div class="panel panel-default" data-bind="foreach: items">
                <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" data-bind="text:$data.Name, attr: { href: '#collapse-'+ $data.Id }, click:function(){ $parent.setItem.call($parent, $data); } ">name</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" data-bind="attr:{ id: 'collapse-'+ $data.Id }">
                  <div class="panel-body" data-bind="html:$data.Content">content</div>
                </div>
              </div>

            </div>
        </div>

    </div>
</div>

