<section>sup from gofeeder</section>

<section>
    <h2 data-bind="text: displayName"></h2>

    <!-- <div data-bind="text:ko.toJSON(activeFeed())">current feed</div> -->
    <div data-bind="text:(activeFeed() && activeFeed().Name) || '&nbsp;'"></div>
    <div data-bind="text:(activeItem() && activeItem().Name) || ''"></div>

    <div class="row" data-bind="foreach: feeds">
      <div class="col-sm-6 col-md-3">
        <a href="#" data-bind="click:function(){ $parent.setFeed.call($parent, $data); }, text:$data.Name"></a>
      </div>
    </div>

    <!-- <div data-bind="text:ko.toJSON(items())"></div> -->
    <ul data-bind="foreach: items">
      <li>
        <a href="#" data-bind="click:function(){ $parent.setItem.call($parent, $data); }, text:$data.Name"></a>
      </li>
    </ul>

</section>

